<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nómina</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header th:replace="~{header :: header}"></header>
<nav th:replace="~{navbar :: navbar}"></nav>

<main>
  <div class="container">
  <h2>Gestión de Nómina</h2>
  <div class="cards">
    <div class="card">
      <h3>Total Nómina</h3>
      <p>$<span th:text="${totalNomina}">500</span></p>
    </div>
    <div class="card">
      <h3>Último Pago</h3>
      <p><span th:text="${ultimoPago}">03/04/2025</span></p>
    </div>
  </div>
  </div>
</main>


<footer th:replace="~{footer :: footer}"></footer>

</body>
</html>
