<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav>
        <a href="/">Inicio</a> |
        <a href="/empleado">Empleados</a> |
        <a href="/novedad">Novedades</a> |
        <a href="/horas-extras">Horas Extras</a> |
        <a href="/opciones-nomina">Nómina</a> |
        <a href="/liquidacion-prestaciones">Liquidación de Prestaciones</a> |
        <a href="/desprendibles">Reportes</a> |
        <a href="/hojas-de-vida">Hojas de Vida</a> |
        <a href="/administracion">Administración</a>
    </nav>
</div>
</body>
</html>